<div class="container-view">
  <form [formGroup]="createVariableForm" (ngSubmit)="submitForm()" class="form-create-variable">

    <h2 class="tittle">Crear variable</h2>

    <label class="input-text" for="name_variable">Nombre de la variable: </label>
    <input class="input" type="text" formControlName="name_variable" id="name_variable" />

    <label class="input-text" for="type_data_variable">Selecciona una opción:</label>
    <select class="input" id="type_data_variable" formControlName="value_data_type" (change)="viewCreateOptions()">
      <option *ngFor="let option of typesVariables" [value]="option.value">{{ option.label }}</option>
    </select>

    <div *ngIf="type_variable === 5" class="seleccion-container">
      <h2 class="tittle">Opciones de respuesta: </h2>
      <button class="button add-option" type="button" (click)="addOption()">Agregar Opción</button>
      <div formArrayName="options">
        <div class="container-input-option" *ngFor="let option of options.controls; let i = index" [formGroupName]="i">
          <div class="container-option">
            <label class="input-text" [for]="'optionValue' + i">Opción {{ i + 1 }}: </label>
            <input class="input-option" type="text" formControlName="value" [id]="'optionValue' + i" />
          </div>
          <button class="button remove-variable" type="button" (click)="removeOption(i)">Eliminar Opción</button>
        </div>
      </div>
    </div>

    <button class="button submit" type="submit" [disabled]="!createVariableForm.valid">Submit</button>
  </form>
</div>

