<h1>Crear variable</h1>

<form [formGroup]="createVariableForm" (ngSubmit)="submitForm()">
  <!-- Otros campos del formulario si es necesario -->

  <label for="name_variable">Nombre de la variable: </label>
  <input type="text" formControlName="name_variable" id="name_variable">

  <div class="invalid_alert" *ngIf="createVariableForm.get('name_variable')?.invalid && createVariableForm.get('name_variable')?.touched">
    Debes ingresar toda la información necesaria
  </div>

  <!-- Select con buenas prácticas -->
  <label for="seleccion">Selecciona una opción:</label>
  <select id="type_data_variable" formControlName="data_variable">
    <option *ngFor="let opcion of opcionesSelect" [value]="opcion.value">
      {{ opcion.label }}
    </option>
  </select>

  <div class="invalid_alert" *ngIf="createVariableForm.get('data_variable')?.invalid && createVariableForm.get('data_variable')?.touched">
    Debes ingresar toda la información necesaria
  </div>

  <!-- Otros elementos del formulario y botón de envío -->
  <button type="submit" [disabled]="!createVariableForm.valid">Submit</button>
</form>


