<form [formGroup]="createVariableForm" (ngSubmit)="submitForm()">
  <!-- ... Otros campos del formulario ... -->

  <label for="name_variable">Nombre de la variable: </label>
  <input type="text" formControlName="name_variable" id="name_variable" />

  <!-- ... Otros campos del formulario ... -->

  <label for="type_data_variable">Selecciona una opción:</label>
  <select id="type_data_variable" formControlName="value_data_type" (change)="viewCreateOptions()">
    <option *ngFor="let option of typesVariables" [value]="option.value">{{ option.label }}</option>
  </select>

  <div *ngIf="type_variable === 5" class="seleccion-container">
    <h2>Opciones de respuesta: </h2>
    <button type="button" (click)="addOption()">Agregar Opción</button>
    <div formArrayName="options">
      <div *ngFor="let option of options.controls; let i = index" [formGroupName]="i">
        <label [for]="'optionValue' + i">Opción {{ i + 1 }}: </label>
        <input type="text" formControlName="value" [id]="'optionValue' + i" />
      </div>
    </div>
  </div>

  <!-- ... Otros campos del formulario ... -->

  <button type="submit" [disabled]="!createVariableForm.valid">Submit</button>
</form>
